<ion-header>
  <ion-toolbar>
    <ion-title>Boletim</ion-title>
    <ion-button href="/home" color="primary">Voltar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Notas</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let registro of boletins">
      <ion-label>{{registro.disciplina}}</ion-label>
      <ion-label slot="end">{{registro.nota}}</ion-label>
      <ion-icon name="trash" (click)="excluir(registro)" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>MEDIA</ion-label>
      <ion-label>{{media.total}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>