<ion-header>
  <ion-toolbar>
    <ion-title>
      Ola, {{usuario.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let icone of imagens">
    <ion-row >
      <ion-col size="5" size-md>
        <ion-card>
          <img src="{{icone.img}}" />
          <ion-item href='/boletim'>Boletim</ion-item>
        </ion-card>

      </ion-col>
      <ion-col size="5" size-md>
        <ion-card>
          <img src="{{icone.img}}" />
          <ion-item href='/agenda'>Agenda</ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="5" size-md>
        <ion-card>
          <img src="{{icone.img}}" />
          <ion-item href='/galeria'>Galeria</ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="5" size-md>
        <ion-card>
          <img src="{{icone.img}}" />
          <ion-item href='/chat'>Chat</ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>